 h1{
  font-family: impact;
  color:#ffb3ff;
}

 h2{
  font-family: verdana;
  color:blue;
}

p{
 font-family: verdana;
}

div {
    background: linear-gradient(to bottom, #99ccff 0%, #ffcccc 100%);
}
